@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(20px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fadey {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in-out;
}

.animate-fadey {
  animation: fadey 2.7s ease-in-out infinite;
}
